section.arrivals
  .container
    .section-title
      h2.section-title__name
        span New
        | Arrivals
      .section-title__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, tempora!

    ul.arrivals__list
      li.arrivals__item
        .product
          .product__pre-wrap
            .product__img
              picture
                img(src="img/content/r-item1@1x.png", srcset="img/content/r-item1@2x.png 2x",
                  title="Product1", alt="Product1")
            h3.product__title Reebok Track Jacket
            a(href="#").product__buy 100$
          .product__next-wrap
            ul.product__slider
              li.product__slider-item
                picture
                  img(src="img/content/r-item1@1x.png", srcset="img/content/r-item1@2x.png 2x",
                    title="Product2", alt="Product2")
              li.product__slider-item
                picture
                  img(src="img/content/r-item1@1x.png", srcset="img/content/r-item1@2x.png 2x",
                    title="Product2", alt="Product2")
            h4.product__slider-title Reebok Track Jacket
            .product__sizes
              b sizes
              ul.product__sizes-list
                li.product__sizes-item
                  span s
                li.product__sizes-item
                  span m
                li.product__sizes-item
                  span l
                li.product__sizes-item
                  span xl
            .product__colors
              a(href="#", data-slide-index="0").product__color.product__color--one
              a(href="#", data-slide-index="1").product__color.product__color--two
              a(href="#", data-slide-index="2").product__color.product__color--three
              a(href="#", data-slide-index="3").product__color.product__color--four
            .product__buttons
              a(href="javascript:void(0);").product__button-web
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-share")
              a(href="javascript:void(0);").product__button-buy
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-basket")
              a(href="javascript:void(0);").product__button-favorite
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-like")
      li.arrivals__item
        .product
          .product__pre-wrap
            .product__img
              picture
                img(src="img/content/r-item2@1x.png", srcset="img/content/r-item2@2x.png 2x",
                  title="Product2", alt="Product2")
            h3.product__title Reebok Track Jacket
            a(href="#").product__buy 200$
          .product__next-wrap
            ul.product__slider
              li.product__slider-item
                picture
                  img(src="img/content/r-item2@1x.png", srcset="img/content/r-item2@2x.png 2x",
                    title="Product3", alt="Product3")
              li.product__slider-item
                picture
                  img(src="img/content/r-item2@1x.png", srcset="img/content/r-item2@2x.png 2x",
                    title="Product3", alt="Product3")
            h4.product__slider-title Reebok Track Jacket
            .product__sizes
              b sizes
              ul.product__sizes-list
                li.product__sizes-item
                  span s
                li.product__sizes-item
                  span m
                li.product__sizes-item
                  span l
                li.product__sizes-item
                  span xl
            .product__colors
              a(href="#", data-slide-index="0").product__color.product__color--one
              a(href="#", data-slide-index="1").product__color.product__color--two
              a(href="#", data-slide-index="2").product__color.product__color--three
              a(href="#", data-slide-index="3").product__color.product__color--four
            .product__buttons
              a(href="javascript:void(0);").product__button-web
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-share")
              a(href="javascript:void(0);").product__button-buy
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-basket")
              a(href="javascript:void(0);").product__button-favorite
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-like")
      li.arrivals__item
        .product
          .product__pre-wrap
            .product__img
              picture
                img(src="img/content/r-item3@1x.png", srcset="img/content/r-item3@2x.png 2x",
                  title="Product3", alt="Product3")
            h3.product__title Reebok Track Jacket
            a(href="#").product__buy 150$
          .product__next-wrap
            ul.product__slider
              li.product__slider-item
                picture
                  img(src="img/content/r-item3@2x.png", srcset="img/content/r-item3@2x.png 2x",
                    title="Product2", alt="Product2")
              li.product__slider-item
                picture
                  img(src="img/content/r-item3@2x.png", srcset="img/content/r-item3@2x.png 2x",
                    title="Product3", alt="Product3")
            h4.product__slider-title Reebok Track Jacket
            .product__sizes
              b sizes
              ul.product__sizes-list
                li.product__sizes-item
                  span s
                li.product__sizes-item
                  span m
                li.product__sizes-item
                  span l
                li.product__sizes-item
                  span xl
            .product__colors
              a(href="#", data-slide-index="0").product__color.product__color--one
              a(href="#", data-slide-index="1").product__color.product__color--two
              a(href="#", data-slide-index="2").product__color.product__color--three
              a(href="#", data-slide-index="3").product__color.product__color--four
            .product__buttons
              a(href="javascript:void(0);").product__button-web
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-share")
              a(href="javascript:void(0);").product__button-buy
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-basket")
              a(href="javascript:void(0);").product__button-favorite
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-like")
      li.arrivals__item
        .product
          .product__pre-wrap
            .product__img
              picture
                img(src="img/content/r-item3@1x.png", srcset="img/content/r-item3@2x.png 2x",
                  title="Product3", alt="Product3")
            h3.product__title Reebok Track Jacket
            a(href="#").product__buy 250$
          .product__next-wrap
            ul.product__slider
              li.product__slider-item
                picture
                  img(src="img/content/r-item3@2x.png", srcset="img/content/r-item3@2x.png 2x",
                    title="Product2", alt="Product2")
              li.product__slider-item
                picture
                  img(src="img/content/r-item3@2x.png", srcset="img/content/r-item3@2x.png 2x",
                    title="Product3", alt="Product3")
            h4.product__slider-title Reebok Track Jacket
            .product__sizes
              b sizes
              ul.product__sizes-list
                li.product__sizes-item
                  span s
                li.product__sizes-item
                  span m
                li.product__sizes-item
                  span l
                li.product__sizes-item
                  span xl
            .product__colors
              a(href="#", data-slide-index="0").product__color.product__color--one
              a(href="#", data-slide-index="1").product__color.product__color--two
              a(href="#", data-slide-index="2").product__color.product__color--three
              a(href="#", data-slide-index="3").product__color.product__color--four
            .product__buttons
              a(href="javascript:void(0);").product__button-web
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-share")
              a(href="javascript:void(0);").product__button-buy
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-basket")
              a(href="javascript:void(0);").product__button-favorite
                svg(width="18", height="18")
                  use(xlink:href="img/svg-sprite.svg#icon-like")
