footer.footer
  .container
    .footer__logo
      include ../common/_logo
      span.footer__copyright shopy c 2015 . your copy right here
    .footer__menu
      ul.footer__list
        li.footer__item
          a(href="#javascript:void(0);").footer__item-link about us
        li.footer__item
          a(href="#javascript:void(0);").footer__item-link contact us
        li.footer__item
          a(href="#javascript:void(0);").footer__item-link support
      ul.footer__list
        li.footer__item
          a(href="#javascript:void(0);").footer__item-link our feed
        li.footer__item
          a(href="#javascript:void(0);").footer__item-link terms and conditions
        li.footer__item
          a(href="#javascript:void(0);").footer__item-link our privacy
      ul.footer__list
        li.footer__item
          a(href="#javascript:void(0);").footer__item-link join us
        li.footer__item
          a(href="#javascript:void(0);").footer__item-link live support
    .footer__pay
      h3.footer__pay-title Payment Methods
      ul.footer__pay-list
        li.footer__pay-item
          a(href="#javascript:void(0);").footer__pay-link
            picture
              img(src="img/decor/pay1@1x.png", srcset="img/decor/pay1@2x.png 2x"
                width="27" height="20" alt="Pay1" title="Page1")
        li.footer__pay-item
          a(href="#javascript:void(0);").footer__pay-link
            picture
              img(src="img/decor/pay2@1x.png", srcset="img/decor/pay2@2x.png 2x"
                width="27" height="20" alt="Pay2" title="Page2")
        li.footer__pay-item
          a(href="#javascript:void(0);").footer__pay-link
            picture
              img(src="img/decor/pay3@1x.png", srcset="img/decor/pay3@2x.png 2x"
                width="27" height="20" alt="Pay3" title="Page3")
        li.footer__pay-item
          a(href="#javascript:void(0);").footer__pay-link
            picture
              img(src="img/decor/pay4@1x.png", srcset="img/decor/pay4@2x.png 2x"
                width="27" height="20" alt="Pay4" title="Page4")
        li.footer__pay-item
          a(href="#javascript:void(0);").footer__pay-link
            picture
              img(src="img/decor/pay5@1x.png", srcset="img/decor/pay5@2x.png 2x"
                width="27" height="20" alt="Pay5" title="Page5")
