section.sales
  .container
    .section-title
      h2.section-title__name
        span Best
        | Sales
      .section-title__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, tempora!
    ul.sales__list
      li.sales__item
        .sales__item-img
          picture
            img(src="img/content/s-item1@1x.png", srcset="img/content/s-item1@1x.png 2x",
              title="Sales-product1", alt="Sales-product1")
        .sales__info
          h3.sales__item-title Reebok Track Jacket
          .sales__action
            .sales__rating
              picture
                img(src="img/decor/rating@1x.png", srcset="img/decor/rating@2x.png 2x",
                  title="Stars", alt="Stars")
            a(href="#").sales__buy 100$
          a(href="javascript:void(0);").sales__tobuy
            svg(width="22", height="22")
              use(xlink:href="img/svg-sprite.svg#icon-basket")
            |Add To
      li.sales__item
        .sales__item-img
          picture
            img(src="img/content/s-item1@1x.png", srcset="img/content/s-item1@1x.png 2x",
              title="Sales-product2", alt="Sales-product2")
        .sales__info
          h3.sales__item-title Reebok Track Jacket
          .sales__action
            .sales__rating
              picture
                img(src="img/decor/rating@1x.png", srcset="img/decor/rating@2x.png 2x",
                  title="Stars", alt="Stars")
            a(href="#").sales__buy 100$
          a(href="javascript:void(0);").sales__tobuy
            svg(width="22", height="22")
              use(xlink:href="img/svg-sprite.svg#icon-basket")
            |Add To
      li.sales__item
        .sales__item-img
          picture
            img(src="img/content/s-item1@1x.png", srcset="img/content/s-item1@1x.png 2x",
              title="Sales-product3", alt="Sales-product3")
        .sales__info
          h3.sales__item-title Reebok Track Jacket
          .sales__action
            .sales__rating
              picture
                img(src="img/decor/rating@1x.png", srcset="img/decor/rating@2x.png 2x",
                  title="Stars", alt="Stars")
            a(href="#").sales__buy 100$
          a(href="javascript:void(0);").sales__tobuy
            svg(width="22", height="22")
              use(xlink:href="img/svg-sprite.svg#icon-basket")
            |Add To
